In [1]:
print ("hey")

hey

In [4]:
n = 1
m = 3.3
name = 'Elina'
is_elina = True

In [5]:
print(n)
print(m)
print(name)
print(is_elina)

1
3.3
Elina
True

In [9]:
t1 = (1, 2, 3, 4)
t1

print(type(t1))

t2 = ('a', 'b', 'c')
t2

<class 'tuple'>

('a', 'b', 'c')

In [14]:
name, chinese, math, english = 'Elina', 87, 78, 88

print(name)
print(math)

Elina
78

In [1]:
mylist = [1, 2, 3, 4]
mylist

[1, 2, 3, 4]

In [2]:
print(type(mylist))

<class 'list'>

In [4]:
mylist = [1, 2, 3, 4]
print(mylist[2])
for ele in mylist:
    print(ele)

greeting = "hello world!"
for element in greeting:
    print(element)

3
1
2
3
4
h
e
l
l
o

w
o
r
l
d
!

In [17]:
#dictionary key:value
student1 = {'name':'Elina',
            'chinese':87,
            'math':78,
            'english':88}

student1

for value in student1:
    print(value, student1[value])

name Elina
chinese 87
math 78
english 88