In [ ]:
student = {
    'name':'Elina',
    'Chinese':78,
    'Math':77
    "English":89
}