## 建立資料表

In [4]:
import psycopg2
import os
from dotenv import load_dotenv
load_dotenv()

with psycopg2.connect(os.environ['postgre_password_taipei']) as conn:
    with conn.cursor() as cursor:
        #建立資料表
        sql = '''
            create table if not exists 站點資訊(
                站點編號 varchar(10) primary key,
                站點名稱 varchar(30) not null,
                行政區 varchar(10) not null,
                站點地址 varchar(50),
                lat numeric(15,11),
                lng numeric(15,11)
            );

            create table if not exists youbike(
                日期 timestamp,
                編號 varchar(15),
                總車輛 integer,
                可借 integer,
                可還 integer,
                活動 boolean,
                primary key(日期,編號),
                foreign key(編號) references 站點資訊(站點編號)
                on delete cascade
                on update cascade
            );
        '''
        cursor.execute(sql)
print('資料表建立完成')

資料表建立完成

## 插入資料

In [6]:
with psycopg2.connect(os.environ['postgre_password_taipei']) as conn:
    with conn.cursor() as cursor:
        #建立資料表
        sql = '''
            insert into 站點資訊
            values (%s,%s,%s,%s,%s,%s)
            on conflict do nothing;
        '''
        cursor.execute(sql,('500101001','YouBike2.0_捷運科技大樓站','大安區','復興南路二段235號前',25.02605,121.5436))

        sql = '''
            insert into youbike
            values (%s,%s,%s,%s,%s,%s)
            on conflict do nothing;
            '''
        cursor.execute(sql,('2024-04-27 09:39:21','500101001',28,1,27,True))

print('資料表插入完成')

資料表插入完成